html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background-color: yellow; */
  
}
.dr{
  /* display: none; */
  background-color: yellow;
}

.husky{
  width: 150vh;
  height: 150vh;
  padding: 30px;
  margin-left: 17%;
  object-fit:fill;
}
.dolil{
  font-size: 30vh;
}
.lil{
  padding:20px 20px 50px 20px;
  color: white;
  font-size: 20px;
}
.nav{
  color: white;
  text-decoration: none;
}
.inp{
  margin-left:3cm;
  margin-top: 20px;
  height: 35px;
  margin-top: 22px;
  background-color: yellow;
  border: none
  ;
  
}
.head{
  position: relative;
}
.logo{
  position: relative;
  left: 3cm;
  top: 10px;
}
.icon{
  height: 34px;
  border: none;
  margin-top: -6px;
}
.content{
  background-color: rgb(243, 216, 13);
  position: relative;
}
.frst{
  position:relative;
  top:3.5cm;left: 3cm;
  font-size: 20px
}
.vetr{
  font-size: 2cm;
}
.lor{
  font-size: 20px;
}
.dog{
  height: 600px;
}
.do{
  height: 700px;
}
.about{
  width: 100%;
  min-height: 100vh;
}

.abt-head{
  font-size: 40px;
}
.abt-desc{
  font-size: 20px;
}
.gs{
  /* position: absolute; */
  /* right: 6cm;top: 2cm; */
  height: 25rem;
  width: 100%;
}
/* .abtt{
  position:absolute;
  top: 5cm;
  left: 4cm;
} */
.btn-con{
  border: none;
  width: 3cm;
  height: 1cm;
  background-color: rgb(255, 234, 0);
}
.btn-con:hover{
  background-color: rgb(243, 208, 36);
}
.abt2{
  /* position: relative;
  top: 11cm;
  left: 5cm; */
  padding: 0px  ;
  /* justify-content: space-between; */
}
.ger-img{
  width: 100%;
}
.abt2-desc{
  font-size: 20px;
}
.abt2-btn{
font-size: 20px;
background-color: yellow;
color: white;
border: none;

}
.vet{
  /* position: absolute;
  right: 30%;
  top: 10%; */
  text-align: right;
  justify-content: right;
  
}

.abt3{
  position:absolute;
  top: 180%;
  left: 13%;
}
.abt3-desc{
  text-align: center;
  padding-bottom: 40px;
}
.docs{
  position: relative;
  left: 5%;
}
.doc-img{
  width: 25%;
  height: 8cm;
  align-items: center;
  justify-content: center;
  position: absolute;
  
}
span{
  position: absolute;
  top: 8.5cm;
  text-align: center;
  justify-content: center;
}
.doc-name{
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  padding-left: 70px;
}
.abt4{
 position: absolute;
 top: 260%;
 width: 100%;
}
.abt4-desc{
  position: relative;

}
.abt4-cont{
  position: absolute;
  bottom: 50%;
  /* z-index: 1; */
}
.abt4-cont{
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  position: absolute;
  left: 10%;
  top: 10%;
}
.abt4-img{
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-left: 2cm;

}
.num{
  position: absolute;
  margin-left: -1cm;
  top: 0;
}
.abt5{
  position:absolute;
  top:350vh;
}
.abt5-h{
  position: relative;
}
.abt5-head{
  text-align: center;
  margin-right: 15cm;
  font-size: 50px;
  font-weight: bolder;

}
.abt5-desc{
 margin-right: 5cm;
 text-align: center;
}
.abt5-cards{
  position: relative;
  /* height: 100%; */
  
}
.card{
  position: absolute;
  /* padding: 70px; */
  justify-content: space-between;
  
  height: 1cm;
}
.card-img{
  width: 1cm;
  object-fit: contain;
  height: 14cm;
  padding: 5px 40px 80px 20px;
  /* height: 5cm; */
}
.abt5-info{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.date{
  text-align: left;
  padding-left: 15px;
  color: aqua;
}
.services{
  background-color: rgb(253, 235, 41);
  height: 110vh;
}
.ser-head{
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 30px;
}
.ser-h{
  font-size: 70px;
  font-weight: bolder;
}
.ser2{
  position: absolute;
  /* height: 100vh; */
  top: 10cm;
  
  padding: 20px; 
}
.ser-img{
  position: relative;
}
.s-images{
  position: absolute;
  align-items: center;
  justify-content: center;
  padding-left: 2cm;
}
.ser-info{
  position: absolute;
  top: 10cm;
  margin-left: 2cm;
  color: rgb(244, 238, 238);
  text-align: center;
  font-size: 20px;
  background-color: rgb(253, 235, 41);
}
.i3{
  border: none !important;
}
.s2{
  position: absolute;
  top: 28cm; left: 17cm;
  
}
.recent{
  background-color: rgb(253, 235, 41);
}
.heading{
  font-size: 2cm;
  color: hsl(0, 8%, 3%);
  background-color: white;
  font-weight: bolder;
  text-align: center;
}
.heading-desc{
  background-color: white;
  color:rgb(8, 8, 8);
  font-size: 20px;
  text-align: center;
}
.posts{
position: relative;
background-color: white;

}
.post1{
  position: absolute;
  top: 2cm;
  height: 8cm;
  border: none !important;
}
.post-img{
  position: absolute;
  top: 1cm;
  height: 8cm;
  width: 8cm;
  margin-left: 2cm;
}
.card-desc{
  margin-left: 1cm;
}
.desc1{
  margin-left: -2cm;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.desc3{
  position: absolute;
  top: 11cm;
}
.desc4{
  position: absolute;
  top: 13cm;
  font-size: large;
}
.desc4-btn{
  background-color: aqua;
 border: none;
}
.desc4-btn:hover{
  background-color: rgb(0, 157, 255);

}
footer{
  background-color: rgb(86, 86, 84);
}

.footerLeft{
  flex: 8;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.fMenuTitle{
  font-size: 30px !important;

}
.fMenuList{
  padding: 5px;
  font-size: 15px;
  list-style: none;
}  
.fListItem{
   margin-bottom: 10px;
   color: rgb(176, 173, 173);
   cursor: pointer;
}

.fInput{
  padding: 2px;
  font-size: 10px;
  width: 8cm;
  height: 0.8cm;
}
.fButton{
  padding: 2px;
  font-size: 10px;
  height: 0.8cm;
  width: 1cm;
}
.fMenuTitle{
  font-size: 12px;
}
.fIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright{
  font-weight: 600;
  font-size: 17px;
  /* position: absolute;
  right: 6cm;
  top: 7cm; */
}


